<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" th:href="@{/styles/petclinic.css}"/>
</head>
<body>
<h1>Ссылки на онлайн таблицы</h1>
<p>
    <a href="http://176.53.161.94:8000">main page</a>
    <a href="http://176.53.161.94:8000/users">users page</a>
    <a href="http://176.53.161.94:8000/feedbacks">feedbacks page</a>
    <a href="http://176.53.161.94:8000/tasks">tasks page</a>
    <a href="http://176.53.161.94:8000/configs">configs page</a>
</p>
<h1>Сами конфиг значения</h1>
<table id="configs" class="table table-striped">
    <thead>
    <tr>
        <th>id</th>
        <th>str_property</th>
        <th>dateTime property (UTC+0)</th>
        <th>Long property</th>
        <th>Boolean property</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="config : ${configList}">
        <td><a th:href="@{'/configs/edit/' + ${config.getId()}}" th:text="${config.getId()}"> </a></td>
        <td th:text="${config.getStringProperty()}"></td>
        <td th:text="${config.getDateTime()}"></td>
        <td th:text="${config.getLongProperty()}"></td>
        <td th:text="${config.getBooleanProperty()}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>