@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&family=Ubuntu:wght@300;400;700&display=swap');

html, body {
  height: 100%;
}

*, :after, :before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  font-size: 16px;
  color: white;
  font-family: 'Ubuntu', sans-serif;
}

a {
  text-decoration: none;
  color: white;
  transition: all .3s ease-out;

  &.underline {
    text-decoration: underline;
  }

  &:hover {
    text-decoration: underline;
    color: #dadada;
  }
}

button {
  cursor: pointer;
  border: none;
  background: transparent;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.56rem;
}

h3 {
  font-size: 1.15rem;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background: radial-gradient(50% 50% at 50% 50%, #C40A27 0%, #AB001B 100%);
  overflow: hidden;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

/*Header*/

.header {
  width: 100%;
}

.header__top {
  display: flex;
  justify-content: space-between;
  position: relative;
  background: #AD0620;
}

.header__left {
}

.header__right {
  display: flex;
  align-items: center;

  .header__burger {
    display: none;
  }

  .header__help {
    margin-right: 25px;

    a {
      font-size: 1.2rem;
    }
  }

  .header__sound {
    .sound__btn {
      background: #FDFDFD;
      box-shadow: 0px 0px 41px rgba(36, 36, 36, 0.22), inset 0px 4px 15px rgba(138, 138, 138, 0.21);
      border-radius: 50%;
      padding: 10px;
      line-height: 0;
    }
  }
}

.header__timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;

  .timer_bg {
    position: absolute;
    display: block;
    z-index: 1;
  }

  .timer__title {
    margin-bottom: 10px;
    z-index: 2;
  }
}

.timer__main {
  z-index: 2;
  position: relative;
  display: grid;
  grid-template-columns: 5fr 1fr 5fr 1fr 5fr;
}

.timer__block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 10px 5px;
}

.timer__num {
  font-size: 2.1rem;
  color: #1F422E;
  font-weight: 700;
  background: #FBFBFB;
  box-shadow: inset -3px 4px 7px rgba(53, 53, 53, 0.21);
  border-radius: 2.6px;
  padding: 0 7px;
}

.timer__text {
  grid-area: 2 / span 2 / 2 / span 1;
}

.timer__splitter {
  display: grid;
  justify-items: center;
  grid-template-rows: repeat(10, 1fr);

  .splitter__circle {
    width: 4px;
    height: 4px;
    background: #F8F8F8;
    border-radius: 50%;

    &:nth-child(1) {
      grid-row-start: 3;
    }

    &:nth-child(2) {
      grid-row-start: 4;
      align-self: end;
    }
  }
}


.timer__snow {
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
}


/* Main */
.main {
  flex: 1 1 auto;
  padding: 50px 0 25px;
}

/* Registration */
.main {
  background: url("../../img/Snow1.png");
  //background: url("../../img/pngwing.png") no-repeat center center, url("../../img/Snow1.png");
}

.main-page__login {
  background: url("../../img/pngwing.png") no-repeat center center;
}

.main__wrapper {
  max-width: 560px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottom__gift {
  position: relative;
  left: 55px;
}

.reg-form {
  background: #B70722;
  box-shadow: 10px 10px 52px rgba(24, 24, 24, 0.18);
  border-radius: 30px;
  padding: 30px 80px;
  margin-top: -20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Inter', sans-serif;

  .reg-form__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .reg-form__title {
    text-align: center;

    h1 {
      margin-bottom: 7px;
    }

    margin-bottom: 20px;
  }

  .reg-form__input {
    margin-bottom: 15px;
    width: 100%;

    label {
      position: relative;
    }

    .label__text {
      margin-bottom: 5px;
    }

    input {
      color: black;
      display: block;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      width: 100%;

      &[type="checkbox"] {
        display: inline-block;
        width: auto;
        margin-right: 10px;
        position: absolute;
        left: 0;
        opacity: 0;

        &:checked {
          background: red;
        }
      }
    }

    .checkbox label:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      margin: 4px;
      width: 22px;
      height: 22px;
      transition: transform 0.28s ease;
      border-radius: 3px;
      border: 2px solid #FBFBFB;
    }

    .checkbox label:after {
      content: '';
      display: block;
      width: 10px;
      height: 5px;
      border-bottom: 2px solid #FBFBFB;
      border-left: 2px solid #FBFBFB;
      -webkit-transform: rotate(-45deg) scale(0);
      transform: rotate(-45deg) scale(0);
      transition: transform ease 0.25s;
      will-change: transform;
      position: absolute;
      top: 12px;
      left: 10px;
    }

    .checkbox input[type="checkbox"]:checked ~ label::before {
      color: #FBFBFB;
    }

    .checkbox input[type="checkbox"]:checked ~ label::after {
      -webkit-transform: rotate(-45deg) scale(1);
      transform: rotate(-45deg) scale(1);
    }

    .checkbox label {
      min-height: 34px;
      display: block;
      padding-left: 40px;
      margin-bottom: 0;
      font-weight: normal;
      cursor: pointer;
      vertical-align: sub;
    }

  }

  .reg-form__btn {
    background: #244D35;
    padding: 20px 27px;
    border-radius: 50px;
    box-shadow: 5px 5px #1B3A28;
    margin-bottom: 15px;
    transition: all .3s ease-out;
    cursor: pointer;

    &:hover {
      background: #1f442e;
    }
  }

  .reg-form__bottom-text {
    a {
      font-weight: 700;
    }
  }
}

.error {
  padding: 10px 0;
  font-weight: 700;
}

.main-page__feedback {
  background: url("../../img/pngwing.png") no-repeat center center;
}

.feedback-form {
  background: radial-gradient(97.06% 97.06% at 50% 50%, #2D5B40 0%, #204630 100%);
  box-shadow: 10px 10px 52px rgba(24, 24, 24, 0.18);

  .reg-form__title h1 {
    font-size: 1.9rem;
  }

  textarea {
    color: black;
    width: 100%;
    resize: none;
    min-height: 150px;
    padding: 15px;
    border-radius: 15px;
    display: block;
  }

  .feedback-form__btn {
    background: #B80622;
    padding: 15px 60px;

    &:hover {
      background: #9d0b22;
    }
  }
}


/* MAIN PAGE */
.main-page {
  h1 {
    font-size: 2rem;
    margin-bottom: 40px;
    text-shadow: 3px 0 0 #244D35;
  }
}

.main-page__top {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-items: center;
  gap: 0 30px;
  margin-bottom: 30px;

  &.align-center {
    align-items: center;
  }

  &.game {
    grid-template-areas: 'col1 col3' 'col2 col3';
    grid-template-columns: 50% 50%;
    grid-template-rows: min-content 1fr;

    & .col1 {
      grid-area: col1;
    }

    & .col2 {
      grid-area: col2;
    }

    & .col3 {
      grid-area: col3;
    }
  }
}

.main-page__column {
  transition: all .6s ease-out;

  img {
    max-width: 600px;
    max-height: 80vh;

    &.game-tree {
      max-height: 95vh;
    }
  }

  .main-page__title {
    margin-bottom: 40px;
    text-shadow: 3px 0 0 #244D35;
  }

  .main-page__text {
    margin-bottom: 40px;
    background: white;
    border-radius: 39px;
    padding: 30px 50px;
    font-size: 1.2rem;
    box-shadow: 5px 5px 0 #EDEDED;
    position: relative;

    span {
      font-size: 1.2rem;
      position: relative;
      z-index: 2;
      color: black;

      a {
        color: #1f422e;
        white-space: nowrap;
      }
    }

    svg {
      position: absolute;
      bottom: -21px;
      left: 3px;
      z-index: 1;
    }
  }
}

.main-page__btn {
  background: #244D35;
  padding: 20px 35px;
  border-radius: 50px;
  box-shadow: 5px 5px #1B3A28;
  margin-bottom: 15px;
  transition: all .3s ease-out;
  cursor: pointer;
  white-space: nowrap;

  &:hover {
    background: #1f442e;
  }
}

.main-page__rules {
  margin-bottom: 30px;
}

.rules__title {
  text-shadow: 3px 0 0 #244D35;
  margin-bottom: 40px;
}

.rules__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  //grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 0 40px;
}

.rules__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rules__item {
  background: #244D35;
  border-radius: 10%;
  filter: drop-shadow(10px 10px 52px rgba(24, 24, 24, 0.17));
  padding: 30px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .rule__icon {
    margin-bottom: 30px;

    svg {
      width: 100px;
      height: 100px;
    }
  }

  .rule__title {
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 30px;
    text-align: center;
  }

  .rule__text {
    text-align: center;
  }
}

/* GAME FIELD */
.game-field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-field__wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 15px 15px;
  min-width: 470px;
  margin-bottom: 30px;

  &.col8 {
    grid-template-columns: repeat(8, 1fr);
  }
}

.game-field__cell {
  background: white;
  border-radius: 10px;
  box-shadow: inset -5px 5px 15px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 100%;
  max-width: 70px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  & .letter {
    position: absolute;
    color: black;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.7rem;
  }

  &:after {
    content: "";
    display: block;
    padding-top: 100%
  }

  //&.empty {
  //  max-width: 100px;
  //
  //  &:after {
  //    content: "";
  //    display: block;
  //    padding-top: 100%
  //  }
  //}

  &.gray {
    background: #D2D2D2;
  }

  &.green {
    background: #B4FF9A;
  }

  &.yellow {
    background: #FDE190;
  }
}

.game-field__attempts {

}

/* MEANING */

.meaning__text {
  margin-bottom: 40px;
  background: white;
  border-radius: 39px;
  padding: 30px 50px;
  font-size: 1.2rem;
  box-shadow: 5px 5px 0 #EDEDED;
  position: relative;

  div {
    font-size: 1.2rem;
    position: relative;
    z-index: 2;
    color: black;
  }

  svg {
    position: absolute;
    bottom: -21px;
    left: 3px;
    z-index: 1;
  }
}


/* HOW TO PLAY */
.how2play__main {
  background: white;
  box-shadow: 10px 10px 0 #EDEDED;
  border-radius: 38px;
  padding: 30px 50px;
  margin-bottom: 30px;
}

.how2play__container {
  max-width: 800px;
  margin: 0 auto;
}

.how2play__subtitle {
  color: #244D35;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 700;
}

.how2play__letters {
  .letter__item {
    display: flex;
    align-items: center;
    padding: 15px 0;

    .letter__text {
      margin-left: 30px;
      color: #244D35;
      font-size: 1.2rem;
      font-weight: 700;
    }
  }
}

.example__wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
}

.example__column {
  .example__title {
    color: #244D35;
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 10px;
  }

  .example__subtitle {
    color: #244D35;
    font-size: 1.2rem;
    font-weight: 700;
  }
}

.example__grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px 15px;
}

.example__cell {
  background: white;
  border-radius: 10px;
  box-shadow: inset -5px 5px 15px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 100%;
  max-width: 70px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  .letter {
    position: absolute;
    color: black;
    text-transform: uppercase;
    font-size: 2.2rem;
    font-weight: 700;
  }

  &:after {
    content: "";
    display: block;
    padding-top: 100%
  }

  &.gray {
    background: #D2D2D2;
  }

  &.green {
    background: #B4FF9A;
  }

  &.yellow {
    background: #FDE190;
  }
}


/* Footer */
.footer {
  background: #244D35;
}

.footer__main {
  padding: 15px 0;
  display: grid;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 3fr 2fr 2fr max-content;
  gap: 0 15px;
}

.footer__column {
  display: flex;
  flex-direction: column;
  padding: 5px 0;

  img {
    width: 300px;
  }

  &:nth-child(2), &:nth-child(3), &:nth-child(4) {
    align-self: center;
  }
}

//
.footer__text {
  padding: 3px 0;
}

.text__light {
  font-weight: 100;
}

.footer__header {
  font-size: 1.3rem;
  font-weight: 700;
}


.footer__icon {
  svg {
    width: 30px;
    height: 30px;
  }
}

/* KEYBOARD */
.keyboard {
  position: fixed;
  padding: 5px 5px 10px 5px;
  bottom: 0;
  left: 0;
  right: 0;
  height: 20%;
  display: none;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(24, 1fr);
  background: #244D35;
  z-index: 50;
  transition: all .3s ease-out;
  transform: translateY(100%);

  &.open {
    transform: translateY(0);
  }

  .keyboard__row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 0 3px;
    grid-column: 1 / span 24;
  }

  .keyboard__row:nth-child(2) {
    grid-template-columns: repeat(11, 1fr);
    grid-column: 2 / span 22;
  }

  .keyboard__row:nth-child(3) {
    grid-template-columns: 2fr repeat(9, 1fr) 2fr;
    grid-column: 1 / span 24;
  }

  .keyboard__letter {
    border-radius: 5px;
    border: 1px solid white;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5px;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 300;
    position: relative;

    &.active {
      background: #CB1313;
    }

    &.grey {
      background: #D2D2D2;
      color: black;
    }

    &.green {
      background: #B2FB98;
      color: black;
    }

    &.yellow {
      background: #FDE190;
      color: black;
    }

    svg {
      width: 20px;
      height: 20px;
      fill: white;
    }
  }
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 60;
  min-width: 100vw;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    width: 10vw;
    height: 10vw;
  }
}

.form_loading {
  //padding: 10px 0;
  svg {
    width: 80px;
    height: 80px;
  }
}

.thanks {
  min-height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* MEDIA */

@media screen and (max-width: 1440px) {
  * {
    font-size: 14px;
  }

  .top__gift {
    img {
      width: 600px;
    }
  }

  .bottom__gift {
    left: 45px;

    img {
      width: 700px;
    }
  }

  .header__sound .sound__btn {
    padding: 7px;

    svg {
      width: 20px;
      height: 20px;
    }
  }

  .game-field__wrapper {
    min-width: min(40vw, 50vh);
  }

  .game-field__cell {
    max-width: 8vh;
  }

}

@media screen and (max-width: 1140px) {
  .container {
    margin: 0 auto;
    padding: 0 50px;
  }
  .menu__nav {
    right: -50px;
  }

  .footer__main {
    grid-template-columns: 1fr repeat(3, max-content);
  }

  .footer__column {
    svg.logo {
      width: 200px;
    }

    .footer__header {
      font-size: 1.1rem;
    }

    .footer__text {
      font-size: 0.9rem;
    }
  }

  .header__logo {
    margin-bottom: 20px;
  }

  .header__left, .header__right {
    padding: 20px 0;
  }

  .header__right .header__burger {
    display: block;
    background: transparent;
    width: 40px;
    height: 40px;
    position: relative;
    padding: 15px;
    border-radius: 5px;
    transition: all 0.2s ease;

    &:hover {
      background: rgba(255, 255, 255, 0.2);

    }

    &::after, &::before, span {
      content: "";
      position: absolute;
      width: 28px;
      height: 3px;
      background: #fff;
      z-index: 2;
      transition: all 0.3s ease-out;
      border-radius: 3px;
    }

    &::after {
      top: 25%;
      left: 50%;
      transform: translateX(-52%);
    }

    &::before {
      bottom: 25%;
      left: 50%;
      transform: translateX(-52%);
    }

    span {
      width: 20px;
      top: calc(50% - 1.5px);
      right: 7px;
    }

    &.menu-open span {
      opacity: 0;
    }

    &.menu-open::after {
      top: 48%;
      transform: translate(-52%, -52%) rotate(45deg);
    }

    &.menu-open::before {
      bottom: 47%;
      transform: translate(-52%, -52%) rotate(-45deg);
    }

  }

  .header__sound {
    .sound__btn {
      background: #FDFDFD;
      box-shadow: 0px 0px 41px rgba(36, 36, 36, 0.22), inset 0px 4px 15px rgba(138, 138, 138, 0.21);
      border-radius: 50%;
      padding: 10px;
      line-height: 0;
    }
  }

  .main-page {
    h1 {
      font-size: 2rem;
    }

    .main-page__top {
      margin-bottom: 30px;

      .main-page__column {
        .main-page__title {
          margin-bottom: 20px;
        }

        .main-page__text {
          margin-bottom: 30px;
          padding: 20px 30px;
        }

        .main-page__btn {
          padding: 20px 35px;
          margin-bottom: 15px;
        }
      }
    }

    .main-page__rules {
      .rules__title {
        margin-bottom: 20px;
      }

      .rules__container {
        gap: 0 40px;
      }

      .rules__item {
        padding: 20px 20px;

        .rule__icon {
          margin-bottom: 30px;

          svg {
            width: 80px;
            height: 80px;
          }
        }
      }
    }
  }

  .menu__nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 50vw;
    height: 110vh;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    right: -50px;
    background: rgba(0, 0, 0, 0.8);
    transform: translateX(80vw);
    transition: transform ease 0.5s;
    z-index: 50;
  }
  .menu__nav .nav__item {
    font-size: 1.4rem;
  }

  .menu__nav.menu-open {
    transform: translateX(0);
  }

  .header__right .header__burger {
    display: block;
    background: transparent;
    width: 30px;
    height: 30px;
    position: relative;
    padding: 15px;
    border-radius: 5px;
    transition: all 0.2s ease;
    z-index: 51;

    &::after, &::before, span {
      width: 20px;
      height: 1.5px;
    }

    span {
      width: 13px;
      top: calc(50% - 0.75px);
      right: 5px;
    }

    &.menu-open::after {
      top: 48%;
      transform: translate(-52%, -52%) rotate(45deg);
    }

    &.menu-open::before {
      bottom: 47%;
      transform: translate(-52%, -52%) rotate(-45deg);
    }

  }
}

@media screen and (max-width: 1055px) {
  .main-page__top {
    &.game {
      grid-template-areas: 'col1' 'col3' 'col2';
      grid-template-columns: 100%;
      grid-template-rows: min-content 1fr min-content;

      & .col1 {
        grid-area: col1;
      }

      & .col2 {
        grid-area: col2;
      }

      & .col3 {
        grid-area: col3;
      }
    }
  }

  .game-field__wrapper {
    min-width: min(53vw, 53vh);
  }

  .main-page__column {
    img {
      &.game-tree {
        max-height: 80vh;
      }
    }
  }

}

@media screen and (max-width: 950px) {
  .main-page .main-page__rules .rules__container {
    gap: 0 20px;
  }

  .main-page .main-page__top .main-page__column .main-page__text {
    padding: 14px 30px;
    margin-bottom: 50px;
  }

  .example__cell {
    max-width: 50px;

    .letter {
      font-size: 2rem;
    }
  }
}


@media screen and (max-width: 840px) {
  .main-page .main-page__rules .rules__item {
    padding: 10px 15px;
    border-radius: 15px;

    .rule__icon {
      margin-bottom: 15px;

      svg {
        width: 65px;
        height: 65px;
      }
    }

    .rule__title {
      margin-bottom: 15px;
      font-size: 1.1rem;
    }

    .rule__text {
      font-size: 0.9rem;
    }
  }
  .main-page h1, .rules__title {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  .footer__row svg {
    max-width: 200px;
  }

  .keyboard {
    display: grid;
  }

  .main-page__column.col2.keyboard-open {
    margin-bottom: 50vh;
    transition: all .6s ease-out;
  }
}

/* MOBILE */
@media screen and (max-width: 672px) {
  .container {
    padding: 0 20px;
  }

  .header {
    padding: 0;
  }

  .header__top {
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    align-items: start;
    gap: 0 15px;
  }

  .header__row:nth-child(2) {
    margin-top: -7%;
  }

  .timer__snow {
    position: relative;
    display: block;
    max-width: 100%;
  }

  .top__gift {
    img {
      width: 500px;
    }
  }
  .bottom__gift {
    left: 35px;

    img {
      width: 568px;
    }
  }

  .reg-form {
    display: block;
    margin-top: -10px;
    padding: 20px 50px;
  }

  .timer_bg {
    max-width: 400px;
  }

  .timer__block {
    gap: 5px 5px;
  }

  .timer__title {
    margin-bottom: 5px;
  }

  .timer__num {
    font-size: 1.9rem;
    padding: 0 4px;
  }

  /* FOOTER MOBILE */

  .footer__main {
    padding: 15px 0;
    display: flex;
    flex-direction: column;
  }

  .footer__row {
    display: flex;
  }

  .footer__columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .main-page .main-page__rules .rules__container {
    grid-template-columns: repeat(2, minmax(min-content, 1fr));
    gap: 20px 20px;
  }

  .footer__row svg {
    max-width: 300px;
  }

  .main-page__top {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;

    &.game {
      display: grid;
      grid-template-areas: 'col1' 'col3' 'col2';
      grid-template-columns: 100%;
      grid-template-rows: min-content 1fr min-content;

      & .col1 {
        grid-area: col1;
      }

      & .col2 {
        grid-area: col2;
      }

      & .col3 {
        grid-area: col3;
      }
    }
  }

  .game-field__wrapper {
    min-width: min(69vw, 69vh);
  }

  .main-page .main-page__top .main-page__column .main-page__text {
    margin-bottom: 20px;
  }

  .main-page__column {
    display: flex;
    flex-direction: column;
    justify-content: center;

    a {
      margin: 0 auto;
    }
  }

  .main-page__title h1 {
    text-align: center;
  }

  .menu__nav {
    width: 100vw;
    top: 0;
    bottom: 0;
    right: -20px;
    transform: translateX(110vw);
    transition: transform ease 0.5s;
  }
}

@media screen and (max-width: 747px) {
  .example__cell {
    max-width: 40px;

    .letter {
      font-size: 1.7rem;
    }
  }
}

@media screen and (max-width: 651px) {
  .how2play__subtitle {
    font-size: 1.3rem;
  }

  .how2play__letters .letter__item .letter__text {
    font-size: 1.1rem;
    margin-left: 20px;
  }

  .example__wrapper {
    grid-template-columns: 100%;
    grid-template-rows: min-content 1fr;
  }
  .example__grid {
    grid-template-columns: repeat(5, 50px);
    gap: 10px 10px;
  }

  .example__column {
    &:nth-child(2) {
      justify-self: center;
    }

    .example__title {
      margin-bottom: 0;
    }

    .example__subtitle {
      margin-bottom: 15px;
    }
  }

  .example__cell {
    max-width: 50px;

    .letter {
      font-size: 2rem;
    }
  }
}

@media screen and (max-width: 543px) {
  .timer_bg {
    max-width: 400px;
  }
  .meaning__text {
    padding: 15px 35px;
  }

  .game-field__wrapper {
    min-width: min(85vw, 95vh);
  }
}

@media screen and (max-width: 480px) {
  .reg-form {
    padding: 20px 30px;
  }

  .how2play__main {
    padding: 15px 30px;
  }


  .top__gift {
    img {
      width: 400px;
    }
  }
  .bottom__gift {
    left: 25px;

    img {
      width: 450px;
    }
  }
  .meaning__text span {
    font-size: 1rem;
  }
}


@media screen and (max-width: 440px) {
  h1 {
    font-size: 1.5rem;
  }

  .timer_bg {
    max-width: 330px;
  }

  .container {
    padding: 0 10px;
  }
  .menu__nav {
    right: -10px;
  }

  .timer__text {
    font-size: .8rem;
  }
}


@media screen and (max-width: 408px) {
  h1 {
    font-size: 1.3rem;
  }

  .header__sound {
    .sound__btn {
      padding: 5px;
      line-height: 0;

      svg {
        width: 15px;
        height: 15px;
      }
    }
  }

  .example__grid {
    grid-template-columns: repeat(5, 40px);
  }

  .example__cell {
    max-width: 40px;

    .letter {
      font-size: 1.5rem;
    }
  }
}

@media screen and (max-width: 368px) {
  h1 {
    font-size: 1.5rem;
  }

  .reg-form {
    padding: 20px;
  }

  .top__gift {
    img {
      width: 360px;
    }
  }
  .bottom__gift {
    left: 20px;

    img {
      width: 391px;
    }
  }
  .checkbox label, .checkbox label a {
    font-size: .8rem;
  }
  .reg-form .reg-form__input .checkbox label::before {
    margin: 0;
  }
  .reg-form .reg-form__input .checkbox label::after {
    top: 7px;
    left: 6px;
  }
  .reg-form .reg-form__input {
    margin-bottom: 10px;
  }
  .reg-form__input.last {
    margin-bottom: 5px;
  }
}
