<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" th:href="@{/styles/petclinic.css}" />
</head>
<body>
<h1>Ссылки на онлайн таблицы</h1>
<p>
    <a href="http://localhost:8000">main page</a>
    <a href="http://localhost:8000/users">users page</a>
    <a href="http://localhost:8000/feedbacks">feedbacks page</a>
    <a href="http://localhost:8000/tasks">tasks page</a>
    <a href="http://localhost:8000/configs">configs page</a>
</p>

<h1>Удалить пользователя</h1>
<form th:action="@{'/users/delete/' + ${singleUserList.get(0).getId()}}" method="post">
    <button type="submit">Delete user</button>
</form>

<h1>Основные данные</h1>
<table id="users" class="table table-striped">
    <thead>
    <tr>
        <th>Id</th>
        <th>Phone</th>
        <th>Name</th>
        <th>Surname</th>
        <th>MiddleName</th>
        <th>Email</th>
        <th>Place</th>
        <th>Division</th>
        <th>ActiveGifts</th>
        <th>TicketNumber</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${singleUserList}">
        <td th:text="${user.getId()}"></td>
        <td th:text="${user.getPhone()}"></td>
        <td th:text="${user.getName()}"></td>
        <td th:text="${user.getSurname()}"></td>
        <td th:text="${user.getMiddleName()}"></td>
        <td th:text="${user.getEmail()}"></td>
        <td th:text="${user.getPlace()}"></td>
        <td th:text="${user.getDivision()}"></td>
        <td th:text="${user.getActiveGifts()}"></td>
        <td th:text="${user.getTicketNumber()}"></td>
    </tr>
    </tbody>
</table>

<h1>Обратные отзывы</h1>
<table id="feedbacks" class="table table-striped">
    <thead>
    <tr>
        <th>Phone</th>
        <th>Question</th>
        <th>Answer</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="feedback : ${feedbackList}">
        <td th:text="${feedback.getPhone()}"></td>
        <td th:text="${feedback.getQuestion()}"></td>
        <td th:text="${feedback.getAnswer()}"></td>
    </tr>
    </tbody>
</table>

<h1>Попытки</h1>
<table id="attempts" class="table table-striped">
    <thead>
    <tr>
        <th>Word</th>
        <th>Date</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="attempt : ${attemptList}">
        <td th:text="${attempt.getWord()}"></td>
        <td th:text="${attempt.getDate()}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>