@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;600&family=Ubuntu:wght@300;400;700&display=swap');

:root {
  --color-red: #e12c31;
  --color-green: #2c7746;
  --color-dark-green: #2c5f41;
}

html,
body {
  height: 100%;
  font-size: 16px;
  color: white;
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  font-family: 'Ubuntu', sans-serif;
}

a {
  text-decoration: none;
  color: white;
  transition: all 0.3s ease-out;
}
a.underline {
  text-decoration: underline;
}
a:hover {
  text-decoration: underline;
  color: #dadada;
}

button {
  cursor: pointer;
  border: none;
  background: transparent;
  color: inherit;
}

h2 {
  font-size: 1.56rem;
}

h3 {
  font-size: 1.15rem;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: var(--color-red);
  overflow: hidden;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

/*Header*/
.header {
  width: 100%;
}

.header__top {
  display: flex;
  justify-content: space-between;
  position: relative;
  background: var(--color-red);
}

.header__right {
  display: flex;
}
.header__right .header__burger {
  display: none;
}
.header__right .header__help {
  margin-right: 25px;
}
.header__right .header__help a {
  font-size: 1.2rem;
}
.header__right .header__sound .sound__btn {
  background: #fdfdfd;
  box-shadow: 0px 0px 41px rgba(36, 36, 36, 0.22),
    inset 0px 4px 15px rgba(138, 138, 138, 0.21);
  border-radius: 50%;
  padding: 10px;
  line-height: 0;
}

.header__timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.header__row {
  position: relative;
  text-align: center;
}

.timer {
  margin-bottom: 30px;
}

.timer-row {
  top: -20px;
}

.timer_bg {
  position: absolute;
  display: block;
  z-index: 1;
  min-width: 350px;
  left: 50%;
  transform: translateX(-50%);
  top: -20px;
}
.timer__title {
  position: relative;
  top: -35px;
  z-index: 3;
}

.timer__main {
  display: grid;
  grid-template-columns: 5fr 1fr 5fr 1fr 5fr;
  position: relative;
  z-index: 2;
}

.timer__block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 5px 5px;
}

.timer__num {
  color: var(--color-green);
  font-weight: 700;
  background: #fbfbfb;
  box-shadow: inset -3px 4px 7px rgba(53, 53, 53, 0.21);
  border-radius: 2.6px;
  font-size: 1.9rem;
  padding: 0 4px;
}

.timer__text {
  grid-area: 2 / span 2/2 / span 1;
}

.timer__splitter {
  display: grid;
  justify-items: center;
  grid-template-rows: repeat(10, 1fr);
}
.timer__splitter .splitter__circle {
  width: 4px;
  height: 4px;
  background: #f8f8f8;
  border-radius: 50%;
}
.timer__splitter .splitter__circle:nth-child(1) {
  grid-row-start: 3;
}
.timer__splitter .splitter__circle:nth-child(2) {
  grid-row-start: 4;
  align-self: end;
}

.timer__snow {
  position: relative;
  display: block;
  /* position: absolute; */
  top: -10px;
  left: 50%;
  max-width: 300px;
  transform: translateX(-50%);
}

/* Main */
.main {
  flex: 1 1 auto;
}

/* Registration */
.main {
  background: url('../assets/images/Snow1.png');
}

.bottom__gift {
  position: relative;
  left: 55px;
}

.reg__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reg-form {
  background: var(--color-red);
  box-shadow: 10px 10px 52px rgba(24, 24, 24, 0.18);
  border-radius: 30px;
  padding: 30px 80px;
  margin-top: -20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Inter', sans-serif;
}
.reg-form .reg-form__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reg-form .reg-form__title {
  text-align: center;
  margin-bottom: 20px;
}
.reg-form .reg-form__title h1 {
  margin-bottom: 7px;
}
.reg-form .reg-form__input {
  margin-bottom: 15px;
  width: 100%;
}
.reg-form .reg-form__input label {
  position: relative;
}
.reg-form .reg-form__input .label__text {
  margin-bottom: 5px;
}
.reg-form .reg-form__input input {
  color: black;
  display: block;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  width: 100%;
}
.reg-form .reg-form__input input[type='checkbox'] {
  display: inline-block;
  width: auto;
  margin-right: 10px;
  position: absolute;
  left: 0;
  opacity: 0;
}
.reg-form .reg-form__input .checkbox label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  margin: 4px;
  width: 22px;
  height: 22px;
  transition: transform 0.28s ease;
  border-radius: 3px;
  border: 2px solid #fbfbfb;
}
.reg-form .reg-form__input .checkbox label:after {
  content: '';
  display: block;
  width: 10px;
  height: 5px;
  border-bottom: 2px solid #fbfbfb;
  border-left: 2px solid #fbfbfb;
  -webkit-transform: rotate(-45deg) scale(0);
  transform: rotate(-45deg) scale(0);
  transition: transform ease 0.25s;
  will-change: transform;
  position: absolute;
  top: 12px;
  left: 10px;
}
.reg-form
  .reg-form__input
  .checkbox
  input[type='checkbox']:checked
  ~ label::before {
  color: #fbfbfb;
}
.reg-form
  .reg-form__input
  .checkbox
  input[type='checkbox']:checked
  ~ label::after {
  -webkit-transform: rotate(-45deg) scale(1);
  transform: rotate(-45deg) scale(1);
}
.reg-form .reg-form__input .checkbox label {
  min-height: 34px;
  display: block;
  padding-left: 40px;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
}

.reg-form .reg-form__btn {
  background: var(--color-green);
  padding: 20px 27px;
  border-radius: 50px;
  box-shadow: 5px 5px #1b3a28;
  margin-bottom: 15px;
  transition: all 0.3s ease-out;
  cursor: pointer;
}
.reg-form .reg-form__btn:hover {
  background: #1f442e;
}
.reg-form .reg-form__bottom-text a {
  font-weight: 700;
}

.error {
  padding: 10px 0;
  font-weight: 700;
  text-align: center;
}

.feedback {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.feedback-form {
  width: 100%;
  background: var(--color-green);
  box-shadow: 10px 10px 52px rgba(24, 24, 24, 0.18);
}

.feedback-form .reg-form {
  padding: 50px 50px;
}

.feedback-form .reg-form__title h1 {
  font-size: 1.9rem;
}
.feedback-form textarea {
  color: black;
  width: 100%;
  resize: none;
  min-height: 150px;
  padding: 15px;
  border-radius: 15px;
  display: block;
}
.feedback-form .feedback-form__btn {
  background: var(--color-red);
  padding: 15px 60px;
  margin: 0;
  box-shadow: none;
}
.feedback-form .feedback-form__btn:hover {
  background: #b80622;
}

/* MAIN PAGE */
h1 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 15px;
  text-shadow: 3px 0 0 var(--color-dark-green);
}

.message-wrapper {
  position: relative;
  width: 100%;
}

.message {
  min-height: 63px;
  background: white;
  border-radius: 15px;
  border-radius: 15px;
  font-size: 1.2rem;
  box-shadow: 5px 5px 0 #ededed;
  position: relative;
  padding: 12px 15px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.message.message--angle {
  border-bottom-left-radius: 0;
}

.message span {
  font-size: 1.2rem;
  position: relative;
  z-index: 1;
  color: var(--color-green);
}
.message span a {
  color: var(--color-dark-green);
  white-space: nowrap;
}
.message-svg {
  position: absolute;
  bottom: -18px;
  left: 0px;
  z-index: 2;
}

.tree-message {
  position: absolute;
  width: 100%;
  bottom: 30%;
  left: 0;
  opacity: 0;
  transition: 0.4s opacity ease-out;
}

.tree-message--visible {
  opacity: 1;
}

.main-page__btn {
  display: block;
  background: var(--color-green);
  padding: 20px 35px;
  border-radius: 50px;
  box-shadow: 5px 5px var(--color-dark-green);
  transition: all 0.3s ease-out;
  cursor: pointer;
  white-space: nowrap;
}
.main-page__btn:hover {
  background: var(--color-dark-green);
}

.main-page__row {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.main-image__container {
  position: relative;
  max-width: calc(100vw - 100px);
}

.main-image__container img {
  width: 100%;
}

.rules__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0 40px;
}

.rules__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--color-green);
  border-radius: 10%;
  filter: drop-shadow(10px 10px 52px rgba(24, 24, 24, 0.17));
  padding: 30px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rule__icon {
  margin-bottom: 30px;
}
.rule__icon svg {
  width: 100px;
  height: 100px;
}
.rule__title {
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 12px;
  text-align: center;
}
.rule__text {
  text-align: center;
}

/* GAME FIELD */
.game {
  width: 100%;
  transition: all 0.6s ease-out;
}

.game.open {
  margin-bottom: 50vh;
}

.game-field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-field__wrapper {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  gap: 15px 15px;
  min-width: 470px;
  margin-bottom: 30px;
}

.game-field__wrapper.game-field__wrapper--long {
  width: 100%;
}

.game-field__attempts {
  margin-bottom: 15px;
}

.game-field__cell {
  background: white;
  border-radius: 10px;
  box-shadow: inset -5px 5px 15px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 100%;
  max-width: 70px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.game-field__cell .letter {
  position: absolute;
  color: black;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.7rem;
}
.game-field__cell:after {
  content: '';
  display: block;
  padding-top: 100%;
}
.game-field__cell.grey {
  background: #d2d2d2;
}
.game-field__cell.green {
  background: #b4ff9a;
}
.game-field__cell.yellow {
  background: #fde190;
}

.game-field__interface {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* HOW TO PLAY */
.how2play__main {
  background: white;
  box-shadow: 5px 5px 0 #ededed;
  border-radius: 38px;
  padding: 30px 50px;
  margin-bottom: 30px;
}

.how2play__container {
  max-width: 800px;
  margin: 0 auto;
}

.how2play__subtitle {
  color: var(--color-green);
  font-size: 1.5rem;
  text-align: center;
  font-weight: 700;
}

.how2play__letters .letter__item {
  display: flex;
  align-items: center;
  padding: 15px 0;
}
.how2play__letters .letter__item .letter__text {
  margin-left: 30px;
  color: var(--color-green);
  font-size: 1.2rem;
  font-weight: 700;
}

.example__wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
}

.example__column .example__title {
  color: var(--color-green);
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 10px;
}
.example__column .example__subtitle {
  color: var(--color-green);
  font-size: 1.2rem;
  font-weight: 700;
}

.example__grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px 15px;
}

.example__cell {
  background: white;
  border-radius: 10px;
  box-shadow: inset -5px 5px 15px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 100%;
  max-width: 70px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.example__cell .letter {
  position: absolute;
  color: black;
  text-transform: uppercase;
  font-size: 2.2rem;
  font-weight: 700;
}
.example__cell:after {
  content: '';
  display: block;
  padding-top: 100%;
}
.example__cell.grey {
  background: #d2d2d2;
}
.example__cell.green {
  background: #b4ff9a;
}
.example__cell.yellow {
  background: #fde190;
}

/* Lottery Ticket */
.ticket {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ticket__image {
  max-width: calc(100% - 50px);
  position: relative;
}

.ticket__image img {
  width: 100%;
}

.ticket__number {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 120px;
  font-weight: bold;
}

.ticket__text {
  text-align: center;
}

/* Footer */
.footer {
  background: var(--color-green);
}

.footer__main {
  padding: 15px 0;
  display: grid;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 3fr 2fr 2fr max-content;
  gap: 0 15px;
}

.footer__column {
  display: flex;
  flex-direction: column;
}
.footer__column img {
  width: 300px;
}
.footer__column:nth-child(2),
.footer__column:nth-child(3),
.footer__column:nth-child(4) {
  align-self: center;
}

.footer__text {
  margin-bottom: 6px;
}

.text__light {
  font-weight: 200;
}

.footer__header {
  font-size: 1.3rem;
  font-weight: 700;
}

.footer__icon svg {
  width: 30px;
  height: 30px;
}

/* KEYBOARD */

.keyboard {
  position: fixed;
  padding: 5px 5px 5px 5px;
  bottom: 0;
  left: 0;
  right: 0;
  height: 20%;
  display: none;
  z-index: 10;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(24, 1fr);
  background: var(--color-green);
  transition: all 0.3s ease-out;
  transform: translateY(100%);
}
.keyboard.open {
  transform: translateY(0);
}
.keyboard .keyboard__row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding: 0 3px;
  grid-column: 1 / span 24;
}
.keyboard .keyboard__row:nth-child(2) {
  grid-template-columns: repeat(11, 1fr);
  grid-column: 2 / span 22;
}
.keyboard .keyboard__row:nth-child(3) {
  grid-template-columns: 2fr repeat(9, 1fr) 2fr;
  grid-column: 1 / span 24;
}
.keyboard .keyboard__letter {
  border-radius: 5px;
  border: 1px solid white;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5px;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 300;
  position: relative;
}
.keyboard .keyboard__letter.active {
  background: var(--color-red);
}
.keyboard .keyboard__letter.grey {
  background: #d2d2d2;
  color: black;
}
.keyboard .keyboard__letter.green {
  background: #b2fb98;
  color: black;
}
.keyboard .keyboard__letter.yellow {
  background: #fde190;
  color: black;
}
.keyboard .keyboard__letter svg {
  width: 20px;
  height: 20px;
  fill: white;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 60;
  min-width: 100vw;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading svg {
  width: 10vw;
  height: 10vw;
}

.form_loading svg {
  width: 80px;
  height: 80px;
}

.thanks {
  min-height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* CANVAS */
.canvas-wrapper {
  position: relative;
}

.canvas-wrapper canvas {
  width: 100%;
  height: 100%;
}

/* MEDIA */
@media screen and (max-width: 1440px) {
  .top__gift img {
    width: 600px;
  }

  .bottom__gift {
    left: 45px;
  }
  .bottom__gift img {
    width: 700px;
  }

  .header__sound .sound__btn {
    padding: 7px;
  }
  .header__sound .sound__btn svg {
    width: 20px;
    height: 20px;
  }

  .game-field__wrapper {
    min-width: min(40vw, 50vh);
  }

  .game-field__cell {
    max-width: 8vh;
  }
}
@media screen and (max-width: 1140px) {
  .container {
    margin: 0 auto;
    padding: 0 50px;
  }

  .menu__nav {
    right: -50px;
  }

  .footer__main {
    grid-template-columns: 1fr repeat(3, max-content);
  }

  .footer__column svg.logo {
    width: 200px;
  }
  .footer__column .footer__header {
    font-size: 1.1rem;
  }
  .footer__column .footer__text {
    font-size: 0.9rem;
  }

  .header__logo {
    margin-bottom: 20px;
  }

  .header__left,
  .header__right {
    padding: 20px 0;
  }

  .header__right .header__burger {
    display: block;
    background: transparent;
    width: 40px;
    height: 40px;
    position: relative;
    padding: 15px;
    border-radius: 5px;
    transition: all 0.2s ease;
  }
  .header__right .header__burger:hover {
    background: rgba(255, 255, 255, 0.2);
  }
  .header__right .header__burger::after,
  .header__right .header__burger::before,
  .header__right .header__burger span {
    content: '';
    position: absolute;
    width: 28px;
    height: 3px;
    background: #fff;
    z-index: 2;
    transition: all 0.3s ease-out;
    border-radius: 3px;
  }
  .header__right .header__burger::after {
    top: 25%;
    left: 50%;
    transform: translateX(-52%);
  }
  .header__right .header__burger::before {
    bottom: 25%;
    left: 50%;
    transform: translateX(-52%);
  }
  .header__right .header__burger span {
    width: 20px;
    top: calc(50% - 1.5px);
    right: 7px;
  }
  .header__right .header__burger.menu-open span {
    opacity: 0;
  }
  .header__right .header__burger.menu-open::after {
    top: 48%;
    transform: translate(-52%, -52%) rotate(45deg);
  }
  .header__right .header__burger.menu-open::before {
    bottom: 47%;
    transform: translate(-52%, -52%) rotate(-45deg);
  }

  .header__sound .sound__btn {
    background: #fdfdfd;
    box-shadow: 0px 0px 41px rgba(36, 36, 36, 0.22),
      inset 0px 4px 15px rgba(138, 138, 138, 0.21);
    border-radius: 50%;
    padding: 10px;
    line-height: 0;
  }

  .main-page__title {
    margin-bottom: 20px;
    text-align: center;
  }

  .rules__container {
    gap: 0 40px;
  }

  .menu__nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 50vw;
    height: 110vh;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    right: -50px;
    background: rgba(0, 0, 0, 0.8);
    transform: translateX(80vw);
    transition: transform ease 0.5s;
    z-index: 50;
  }

  .menu__nav .nav__item {
    font-size: 1.4rem;
  }

  .menu__nav.menu-open {
    transform: translateX(0);
  }

  .header__right .header__burger {
    display: block;
    background: transparent;
    width: 30px;
    height: 30px;
    position: relative;
    padding: 15px;
    border-radius: 5px;
    transition: all 0.2s ease;
    z-index: 51;
  }
  .header__right .header__burger::after,
  .header__right .header__burger::before,
  .header__right .header__burger span {
    width: 20px;
    height: 1.5px;
  }
  .header__right .header__burger span {
    width: 13px;
    top: calc(50% - 0.75px);
    right: 5px;
  }
  .header__right .header__burger.menu-open::after {
    top: 48%;
    transform: translate(-52%, -52%) rotate(45deg);
  }
  .header__right .header__burger.menu-open::before {
    bottom: 47%;
    transform: translate(-52%, -52%) rotate(-45deg);
  }
}
@media screen and (max-width: 1055px) {
  .game-field__wrapper {
    min-width: min(53vw, 53vh);
  }
}
@media screen and (max-width: 950px) {
  .rules__container {
    gap: 0 20px;
  }
  .example__cell {
    max-width: 50px;
  }
  .example__cell .letter {
    font-size: 2rem;
  }
}
@media screen and (max-width: 840px) {
  .footer__row svg {
    max-width: 200px;
  }

  .keyboard {
    display: grid;
  }
}
/* MOBILE */
@media screen and (max-width: 672px) {
  .container {
    padding: 0 20px;
  }

  .header {
    padding: 0;
  }

  .top__gift img {
    width: 500px;
  }

  .bottom__gift {
    left: 35px;
  }
  .bottom__gift img {
    width: 568px;
  }

  .reg-form {
    display: block;
    margin-top: -10px;
    padding: 20px 50px;
  }

  /* FOOTER MOBILE */
  .footer__main {
    padding: 15px 0;
    display: flex;
    flex-direction: column;
  }

  .footer__row {
    display: flex;
    padding: 5px 0;
  }

  .footer__columns {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .rules__container {
    grid-template-columns: repeat(2, minmax(min-content, 1fr));
    gap: 20px 20px;
  }

  .footer__row svg {
    max-width: 300px;
  }

  .game-field__wrapper {
    min-width: min(69vw, 69vh);
  }

  .menu__nav {
    width: 100vw;
    top: 0;
    bottom: 0;
    right: -20px;
    transform: translateX(110vw);
    transition: transform ease 0.5s;
  }
}
@media screen and (max-width: 747px) {
  .example__cell {
    max-width: 40px;
  }
  .example__cell .letter {
    font-size: 1.7rem;
  }
}
@media screen and (max-width: 651px) {
  .how2play__subtitle {
    font-size: 1.3rem;
  }

  .how2play__letters .letter__item .letter__text {
    font-size: 1.1rem;
    margin-left: 20px;
  }

  .example__wrapper {
    grid-template-columns: 100%;
    grid-template-rows: min-content 1fr;
  }

  .example__grid {
    grid-template-columns: repeat(5, 50px);
    gap: 10px 10px;
  }

  .example__column:nth-child(2) {
    justify-self: center;
  }
  .example__column .example__title {
    margin-bottom: 0;
  }
  .example__column .example__subtitle {
    margin-bottom: 15px;
  }

  .example__cell {
    max-width: 50px;
  }
  .example__cell .letter {
    font-size: 2rem;
  }
}
@media screen and (max-width: 543px) {
  .game-field__wrapper {
    gap: 10px;
  }

  .game-field__wrapper {
    min-width: min(85vw, 95vh);
  }
}
@media screen and (max-width: 480px) {
  .reg-form {
    padding: 20px 30px;
  }

  .how2play__main {
    padding: 15px 30px;
  }

  .top__gift img {
    width: 400px;
  }

  .bottom__gift {
    left: 25px;
  }
  .bottom__gift img {
    width: 450px;
  }
}
@media screen and (max-width: 440px) {
  .container {
    padding: 0 10px;
  }

  .menu__nav {
    right: -10px;
  }

  .timer__text {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 408px) {
  .header__sound .sound__btn {
    padding: 5px;
    line-height: 0;
  }
  .header__sound .sound__btn svg {
    width: 15px;
    height: 15px;
  }

  .example__grid {
    grid-template-columns: repeat(5, 40px);
  }

  .example__cell {
    max-width: 40px;
  }
  .example__cell .letter {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 368px) {
  .reg-form {
    padding: 20px;
  }

  .top__gift img {
    width: 360px;
  }

  .bottom__gift {
    left: 20px;
  }
  .bottom__gift img {
    width: 391px;
  }

  .checkbox label,
  .checkbox label a {
    font-size: 0.8rem;
  }

  .reg-form .reg-form__input .checkbox label::before {
    margin: 0;
  }

  .reg-form .reg-form__input .checkbox label::after {
    top: 7px;
    left: 6px;
  }

  .reg-form .reg-form__input {
    margin-bottom: 10px;
  }

  .reg-form__input.last {
    margin-bottom: 5px;
  }
}
